.grid-container3{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: grey;
    padding: 15px;
    justify-content: space-evenly;
}

.grid-container3 > div{
   width: 236px;
   height: 242px;
    /* margin: 15px; */
    /* padding: 15px; */
    border: 2px double  black;
}


.plano{
    background-color: rgb(255, 0, 221);
}

.gradiente{
    background: linear-gradient(to right, red,rgb(255, 162, 0));
}

.imagen{
    background-image: url(/assets/img/viajosolo.png);
    width: 242px;
    height: 234px;
}